[Unit]
Description=Restarts EtherCAT Master service if no slaves are detected
After=ethercat.service

[Service]
ExecStart=/opt/ethercat-watchdog.sh
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ethercat-watchdog

[Install]
WantedBy=multi-user.target
