[Unit]
Description=Controls EtherCAT drives and communicates with external services over ZeroMQ
After=ethercat.service

[Service]
ExecStart=/opt/oblac-drives/motion-master
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=motion-master

[Install]
WantedBy=multi-user.target
